.card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 1s;
}
